.App {
  text-align: center;
}
.title{
  display: flex;
  font-size: 26px;
  font-weight: 600;
  padding: 25px;
}
.col.add-button{
  right: 10px;
  padding: 25px;
}
.col.add-button button{
  position: absolute;
  right: 10px;
}